doctype html
html(lang=i18n.locale())
  head
    title camin.io

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(http-equiv="cleartype", content="on")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name="application-name", content="caminio")
    meta(name='csrf-param', content=csrf)
    
    if env === 'production'
      link(rel='stylesheet', href='/stylesheets/caminio-ui.min.css')
    else
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/opensans.css')
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/font-awesome.css')
        
      link( rel='stylesheet', href='/stylesheets/caminio-ui/bootstrap-overrides.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/common.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/pace.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/form.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/table.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/side_panel.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/top_panel.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/loader.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/notifications.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/dashboard.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/main.css' )

    if env === 'production'
      script(type='text/javascript', src='/javascripts/3rdparties.min.js')
      script(type='text/javascript', src='/javascripts/caminio.min.js')
    else
      // foot scripts
      script(type='text/javascript', src='/javascripts/3rdparty/0_jquery-1.10.2.js')
      script(type='text/javascript', src='/javascripts/3rdparty/1_handlebars-1.1.2.js')
      script(type='text/javascript', src='/javascripts/3rdparty/2_ember-1.3.2.js')
      script(type='text/javascript', src='/javascripts/3rdparty/3_ember-data-1.0.0-beta6.js')
      script(type='text/javascript', src='/javascripts/3rdparty/ember-i18n.js')
      script(type='text/javascript', src='/javascripts/3rdparty/pace.min.js')
      script(type='text/javascript', src='/javascripts/3rdparty/bootstrap.min.js')
      script(type='text/javascript', src='/javascripts/3rdparty/moment.min.js')
      script(type='text/javascript', src='/javascripts/3rdparty/jquery.sparkline.min.js')
      script(type='text/javascript', src='/javascripts/caminio/0_util.js')
      script(type='text/javascript', src='/javascripts/caminio/helpers/date_helper.js')
      script(type='text/javascript', src='/javascripts/caminio/helpers/users_helper.js')

      script(type='text/javascript', src='/javascripts/caminio/locales/#{i18n.locale()}.js')
      script(type='text/javascript', src='/javascripts/caminio/app-core.js')

      script(type='text/javascript', src='/javascripts/caminio/notifications.js')

    block head

  body.side-panel-active
    include ../common/top_panel
    include ../common/side_panel

    block content
      
    script(type='text/javascript').
      window.caminioHostname = '!{caminioHostname}';
      window.siteName = '!{site.name}';
      window.currentLang = '!{i18n.locale()}';
      window.currentUser = !{JSON.stringify(currentUser)};
      window.currentDomain = !{JSON.stringify(currentDomain)};
      window.csrf = '!{csrf}';

    block foot
