doctype html
html(lang=i18n.locale())
  head
    title camin.io

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(http-equiv="cleartype", content="on")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name="application-name", content="caminio")
    meta(name='csrf-param', content=csrf)
    
    if env === 'production'
      link(resl='stylesheet', href='/stylesheets/caminio-ui.min.css')
    else
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/durandal.css')
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/opensans.css')
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/font-awesome.css')
        
      link( rel='stylesheet', href='/stylesheets/caminio-ui/bootstrap-overrides.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/durandal-overrides.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/common.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/form.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/table.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/side_panel.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/top_panel.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/loader.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/notifications.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/main.css' )

    block head

  body.side-panel-active
    include ../common/top_panel
    include ../common/side_panel

    block content
      
    script(type='text/javascript').
      window.caminioHostname = '!{caminioHostname}';
      window.siteName = '!{site.name}';
      window.currentLang = '!{i18n.locale()}';
      window.currentUser = !{JSON.stringify(currentUser)};
      window.currentDomain = !{JSON.stringify(currentDomain)};
      window.csrf = '!{csrf}';

    block foot