<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{ title }}{{else}}camin.io &middot; authorization{{/if}}</title>

  <link rel="stylesheet" href="/stylesheets/caminio-ui/components/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/caminio-ui/components/opensans.css" />
  <link rel="stylesheet" href="/stylesheets/caminio-ui/components/font-awesome.css" />
  <link rel="stylesheet" href="/stylesheets/caminio-ui.css" />
  <script type="text/javascript" src="/javascripts/caminio-ui/direct/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/caminio-ui/direct/bootstrap.js"></script>
  {{{block 'head'}}}

</head>
<body>
  <header>{{{block 'header'}}}</header>

  {{{block 'content'}}}

</body>
</html>
