<header class="top-panel fixed">

  <div class="brand pull-left">
    <a id="toggle-side-panel" class="btn transparent toggle-side-panel borderless pull-left">
      <i class="fa fa-bars"></i>
    </a>
    <a class="pull-left" href="/">
      <img src="/images/caminio-ui/brand_90x18.png" />
    </a>

  </div>
  <ul class="ctrl pull-right">
    <li class="pull-right">
      <a class="ctrl-btn icn pull-right" href="/logout">
      <i class="fa fa-sign-out"></i>
      </a>
    </li>
    <li class="pull-right">
      <a class="account-info ctrl-btn pull-right" href="/accounts/{{currentUser.id}}/edit">
        <img class="avatar pull-left" src="/images/caminio-ui/avatar_100x100.png" />
        <span class="pull-left username">{{currentUser.name.full}}</span>
      </a>
    </li>
    <li class="pull-right dropdown">
      <a class="dropdown-toggle dropdown-hover domain ctrl-btn pull-right" data-toggle="dropdown">
        <span class="pull-left domainname">{{currentDomain.name}}</span>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu pull-right" role="menu">
        {{#each currentUser.domains}}
        <li role="presentation">
          <a href="/?change_domain_id={{id}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
  </ul>

</header>
