<div id="general" class="tab-pane fade in active">

  <div class="form-group">
    <label for="example-text-input" class="col-md-2 control-label">{{t user.name}}</label>
    <div class="col-md-2">
      {{input valueBinding='model.firstname' class='form-control' placeholderTranslation='user.firstname'}}
    </div>
    <div class="col-md-2">
      {{input valueBinding='model.lastname' class='form-control' placeholderTranslation='user.lastname'}}
    </div>
  </div>

  <div class="form-group">
    <label for="example-text-input" class="col-md-2 control-label required">{{t user.email}}</label>
    <div {{bind-attr class=":col-md-4 emailError:field-with-error"}}>
      {{input valueBinding='model.email' class='form-control'}}
      {{#if emailError}}<span class="help-block">{{errors.email}}</span>{{/if}}
    </div>
  </div>

  <div class="form-group">
    <label for="example-text-input" class="col-md-2 control-label">{{t user.phone}}</label>
    <div class="col-md-4">
      {{input valueBinding='model.phone' class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <div class="required-exp col-md-offset-2 col-md-4">
      <span style="color: #d00">*</span>{{t required_fields}}
    </div>
  </div>

  <h4 class="sub-header">{{t user.security}}</h4>

  <div class="form-group">
    <label for="example-text-input" class="col-md-2 control-label">{{t user.password}}</label>
    <div class="col-md-4">
      {{input valueBinding='model.password' class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="example-text-input" class="col-md-2 control-label">{{t user.password_confirmation}}</label>
    <div class="col-md-4">
      {{input valueBinding='model.passwordConfirmation' class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="example-text-input" class="col-md-2 control-label">{{t user.admin}}</label>
    <div class="col-md-4 check-box-lbl">
      <span {{action toggleAdmin}}{{bind-attr class=":lbl :danger isAdminToggled::disabled"}}><i class="fa fa-gears"></i></span>
    </div>
  </div>

  <h4 class="sub-header">{{t user.photo}}</h4>

  <h4 class="sub-header">{{t user.danger}}</h4>

</div>
