<section class="main-content">

  <form class="form-horizontal caminio">

    <header class="main-header">
      <div class="form-actions">
        <a href="#" {{action goToUsers}} class="btn icon-text transparent">
          <i class="fa fa-arrow-left"></i>
          {{t back}}
        </a>
        <button class="btn success" {{action create this}}>{{t user.save}}</button>
      </div>

      <h1>{{t user.edit}}</h1>

      <ul class="sub-navbar nav nav-pills">
        <li class="active">
          <a href="#general" data-toggle="tab">{{t user.tabs.general}}</a>
        </li>
      </ul>

    </header>

    <div class="tab-content">

      {{partial 'user/general'}}

    </div>

  </form>

</section>