<section class="main-content with-subnav box default-margin">

  <header>
    <div class="box title-box admin">
      <div class="main-ctrl">
      
        {{#link-to 'users.new' class="btn icon-text"}}
          <i class="fa fa-plus-square"></i>
          {{t 'user.new'}}
        {{/link-to}}
      </div>

      <h1>{{t 'nav.users'}}</h1>

    </div>
  </header>

  <div>

    <table class="caminio">
      <thead>
        <tr>
          <th>{{t user.name}}</th>
          <th>{{t user.email}}</td>
          <th class="actions align-right"></th>
        </tr>
      </thead>

      <tbody>
      {{#each users}}
        <tr>
          <td {{action goToUser this on='doubleClick'}}>
            {{fullname}}
            {{#isAdmin this}}
              <span class="lbl danger"><i class="fa fa-gears"></i></span>
            {{/isAdmin}}
          </td>
          <td {{action goToUser this on='doubleClick'}}>{{email}}</td>
          <td class="actions align-right">
            <div class="btn-group">
              <a class="btn small" {{action goToUser this}} {{translateAttr title='edit'}}>
                <i class="fa fa-pencil"></i>
              </a>
              <a class="btn small" {{action remove this}} {{translateAttr title='remove'}}>
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

  </div>

</section>
