extends ../../../layouts/authorization

block content

  .login-box-wrap
    section.login-box
      form.auth.clearfix( action='/login', method='post' )

        if message
          .message(class=(error ? 'error' : ''))=message

        .email-container
          input(type='text', placeholder=t('auth.email_address'), autocapitalize='off', autocorrect='off', name='username' )
        .password-container
          input(type='password', placeholder=t('auth.password'), name='password' )
        button.btn(type='submit', title=t('login'))
          i.fa.fa-arrow-right
        input(type='hidden', name='_csrf', value=csrf)
        section.meta-wrap
          a.forgotten-password(href='/reset_password')=t('forgotten_password')