
<div class="form-group">
  <label class="control-label required">{{t domain.name}}</label>
  <div {{bind-attr class="nameError:field-with-error"}}>
    {{input valueBinding='model.name' class='form-control' placeholderTranslation='domain.name'}}
    {{#if nameError}}<span class="help-block">{{errors.name}}</span>{{/if}}
  </div>
</div>

<div class="form-group">
  <label class="control-label">{{t domain.description}}</label>
  <div>
    {{textarea valueBinding='model.description' class='form-control'}}
  </div>
</div>

<div class="form-group">
  <label class="control-label">{{t domain.default_lang}}</label>
  <div>
    {{input valueBinding='model.lang' class='form-control'}}
  </div>
</div>

<div class="form-group">
  <label class="control-label">{{t domain.allowed_apps}}</label>
  <div>
  {{view App.Select2TagView
        valueBinding='model.allowedAppNames'
        tagsBinding='App.Enums.availableAppNames'}}
  </div>
</div>

<div class="form-group">
  <label class="control-label">{{t domain.available_langs}}</label>
  <div>
    {{input valueBinding='model.availableLangs' class='form-control'}}
  </div>
</div>

<div class="form-group">
  <label class="control-label">{{t domain.thumbs}}</label>
  <div>
    {{input valueBinding='model.thumbs' class='form-control'}}
  </div>
</div>


<div class="form-group">
  <div class="required-exp">
    <span style="color: #d00">*</span>{{t required_fields}}
  </div>
</div>

<h4 class="sub-header">{{t domain.owner}}</h4>

<div class="form-group">
  <label class="control-label required">{{t user.email}}</label>
  <div {{bind-attr class="emailError:field-with-error"}}>
    {{input valueBinding='model.user.email' class='form-control'}}
    {{#if emailError}}<span class="help-block">{{errors.email}}</span>{{/if}}
  </div>
</div>

<div class="form-group">
  <label class="control-label">{{t user.password}}</label>
  <div>
    {{input valueBinding='model.user.password' class='form-control'}}
  </div>
</div>

<div class="form-group">
  <label class="control-label">{{t user.password_confirmation}}</label>
  <div>
    {{input valueBinding='model.user.passwordConfirmation' class='form-control'}}
  </div>
</div>

<div class="form-group">
  <div class="required-exp">
    <span style="color: #d00">*</span>{{t required_fields}}
  </div>
</div>
