<section class="main-wrapper">

  <header>
    <div class="box title-box website">
      <div class="main-ctrl">
        <button {{action goToDomains}} class="btn icon-text transparent">
          <i class="fa fa-arrow-left"></i>
          {{t 'back'}}
        </button>
        <button class="btn icon-text" {{action 'save' domain}}>
          <i class="fa fa-plus-square"></i>
          {{t 'save'}}
        </button>
      </div>
      <h1>{{domain.name}}</h1>

    </div>

  </header>

  <form class="caminio default-padding row" {{action 'save' domain on='submit'}}>

    <input type="submit" class="hide">
    <div class="col-md-6">
      {{partial 'domain/form'}}
    </div>
  </form>

</section>